/********************************Videos Reponsive******************/
.titulo-videos{
    text-align: center;
}
h1{
    font-family: inherit;
    margin-left: 5%;
    margin-right: 5%;
}
.contenedor-videos{
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
  }
  .contenedor-videos iframe,
  .contenedor-videos object,
  .contenedor-videos embed,
  .contenedor-videos video{
    height: 80%;
    left: 5%;
    position: absolute;
    top: 0;
    width: 90%;
  }
  /*FOOTTER*/
  footer {
    background:rgb(26, 26, 36);
    position: relative; }
  
  .copyright {
    text-align: center; }
    .copyright p {
      font-size: 18px;
      font-weight: 100;
      color: #ccc;
      margin: 0; }
    .copyright ul {
      margin: 25px 0 0;
      padding: 0; }
      .copyright ul li {
        list-style: none;
        display: inline-block; }
        .copyright ul li a {
          color: #ccc;
          font-size: 22px;
          padding: 0 10px;
          opacity: 0.6;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
          .copyright ul li a:hover {
            opacity: 1;
            text-decoration: none; }

h2{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
p{  
    padding-left: 10%;
    padding-right: 10%;
}
